<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="container">
        <div class="row row-center">
            <div class="col-md-6 col-center">
                <form class="form-login" th:action="@{/login}" method="post">
                    <h2 class="form-login-heading">Please sign in</h2>
                    <span class="center-block login-error" th:if="${param.error}">账号或密码错误</span>
                    <!--<div th:if="${param.logout}">您已注销成功</div>-->
                    <label for="inputAccount" class="sr-only">account</label>
                    <input type="text" name="username" id="inputAccount" class="form-control" placeholder="account or email or phone" required autofocus>
                    <label for="inputPassword" class="sr-only">password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>